{% extends 'layout/base.html' %}
{% block title %} Phiếu Thuê {% endblock %}
{% block content %}
<h1 class="header-text text-white text-center">Phiếu Thuê {{ BookingForm.id }}</h1>
<div class="rom-detail">
        <div class="img-rom-detail">
            <img src="./static/images/p1.jpg">
        </div>
        <div class="place-body">
            <h2 class="place-heading">Mã Phiếu Thuê: {{ BookingForm.id }}</h2>
            <p class="place-time">Ngày Thuê: {{ BookingForm.Daybook }}</p>
            <button class="btn btn-warning ">
                <a style="text-decoration:none; color:black" href="">Tính Tiền</a>
            </button>
        </div>
</div>

{% endblock %}
