{% extends 'layout/base.html' %}
{% block title %} Phiếu Thuê {% endblock %}
{% block content %}
<h1 class="header-text text-white text-center">Thanh Toán Hóa Đơn</h1>
<h1 class="header-text text-white text-center">Phiếu Thu</h1>
<div class="rom-detail">
        <div class="img-rom-detail">
            <img src="./static/images/p1.jpg"  alt="Ảnh">
        </div>
        <div class="place-body">
            <p class="place-time">Mã Phiếu Thu: {{ ReceiptDetails.id }}</p>
            <p class="place-time">Ma Phong: {{ ReceiptDetails.product_id}}</p>
            <p class="place-time">Tổng tiền: {{ ReceiptDetails.price}}</p>
        </div>
</div>

{% endblock %}
